@charset "UTF-8";
#background1080 {
			font-family: "Noto Sans KR", sans-serif;
			width: 1080px;
			min-height: 750px;
			/*background: lavender;*/
			margin: auto;
		}

		#title {
			/*background: red;*/
			height: 80px;
			font-size: 30px;
			text-align: center;
			line-height: 80px;
			font-weight: bold;
		}

		#tutorial {
			background: #16315c;
			width: 500px;
			height: 40px;
			font-size: 18px;
			color: white;
			margin-top: 10px;
			text-align: center;
			line-height: 40px;
			margin-left: 60px;
			border-radius: 5px;
		}

		#contentBox {
			width: 1080px;
			min-height: 300px;
			/*background: burlywood;*/
			margin-top: 10px;

		}
		#contentTitle {
			width: 40px;
			height: 24px;
			/*background: rebeccapurple;*/
			border-bottom: 2px solid #16315c;
			float: left;
			font-size: 18px;
			text-align: center;
			margin-left : 10px;
			margin-top: 5px;
			font-weight: bold;
			color: #16315c;
		}
		#content {
			width: 1015px;
			min-height: 300px;
			/*background: aqua;*/
			margin-left : 10px;
			float: left;
		}
		#contentTextarea {
			font-family: "Noto Sans KR", sans-serif;
			border: 2px solid #16315c;
			border-radius: 5px;
			width: 990px;
			min-height: 290px;
			outline: none;
			padding: 8px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			resize: none;
		}

		#tagBox {
			width: 1080px;
			min-height: 50px;
			/*background: burlywood;*/
			margin-top: 30px;
		}
		#tagTitle {
			width: 40px;
			height: 24px;
			/*background: rebeccapurple;*/
			border-bottom: 2px solid #16315c;
			float: left;
			font-size: 18px;
			text-align: center;
			margin-left : 10px;
			margin-right: 10px;
			margin-top: 10px;
			font-weight: bold;
			color: #16315c;
		}
		#tag {
			width: 100px;
			min-height: 50px;
			/*background: aqua;*/
			border: 2px solid #16315c;
			border-radius: 5px;
			margin-left : 10px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		}
		#tagSpace {
			width: 1010px;
			min-height: 45px;
			/*background: aqua;*/
			float: left;
			margin-bottom: 10px;
		}

		#pictureBox {
			width: 1080px;
			height: 184px;
			/*background: burlywood;*/
			margin-top: 10px;
			overflow: hidden;
		}
		#addPicture {
			width: 40px;
			height: 100px;
			/*background: rebeccapurple;*/
			float: left;
			font-size: 18px;
			text-align: center;
			margin-left: 10px;
			margin-right: 10px;
		}
		#addPicture label {
			display: inline-block;
			width: 40px;
			height: 40px;
			border: 2px solid #16315c;
			border-radius: 5px;
			margin-top: 56px;
			background: #16315c;
			cursor: pointer;
			outline: none;
			font-size: 25px;
			line-height: 40px;
			color: white;
		}
		#addPicture label:hover {
			background: #1E4274;
		}

		#addPicture input {
			position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;

		}
		.talk_pic {
			width: 154px;
			height: 154px;
			/*background: red;*/
			margin-right: 25px;
			margin-left: 25px;
			margin-top: 10px;
			float: left;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			position: relative;
			border-radius: 5px;
		}
		.pic {
			width: 150px;
			height: 150px;
			border: 2px solid #16315c;
			border-radius: 5px;
		}
		.delete_button {
			position: absolute;
			border: none;
			background: none;
			top:0;
			right: 0;
			cursor: pointer;
			outline: none;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			font-size: 20px;
		}
		.delete_button:hover {
			color: red;
		}
		#tutorialPicture {
			width: 500px;
			height: 30px;
			/*background: blue;*/
			/*opacity: .2;*/
			font-size: 12px;
			margin-left: 60px;
			line-height: 30px;
			color: darkred;
		}
		#buttonBox {
			width: 1080px;
			height: 50px;
			/*background: RED;*/
			position: relative;
			margin-bottom: 10px;
		}
		.form_button {
			width: 80px;
			height: 40px;
			border: 2px solid #16315c;
			border-radius: 5px;
			font-size: 15px;
			text-align: center;
			background: white;
			position: absolute;
			bottom: 0;
			outline: none;
			cursor: pointer;
		}
		#submitButton {
			background: #16315C;
			color: white;
			bottom: 10px;
			right: 10px;
		}
		#submitButton:hover {
			background: #1E4274;
		}
		#cancleButton {
			background: #F5F5F5;
			bottom: 10px;
			right: 100px;
		}
		#cancleButton:hover {
			background: #FAFAFA;
		}